
        <div class="card"> 
            <img [src]="p.image" class="card-img-top">
            <div class="card-body">
                <h5 class="card-title">{{p.title}}</h5>
                <p>{{p.description}}</p>
                <strong>{{p.price|currency}}</strong>
                <br>
                <button mat-raised-button color="primary" (click)="addCart()">Agregar al carrito</button><br>
                <a [routerLink]="['/products',p.id]">Ver detalle</a>
            </div>
        </div><br>




